function Snake.new 1
push constant 11
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
push argument 3
sub
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push argument 4
pop this 4
push constant 0
pop this 5
push constant 4
pop this 6
push constant 4
pop this 7
push constant 512
pop this 10
push this 10
call Array.new 1
pop this 8
push this 10
call Array.new 1
pop this 9
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 3
lt
not
if-goto WHILE_END0
push this 1
push constant 1
add
pop this 1
push pointer 0
push this 0
call SnakeGame.getCycle 1
call Snake.drawHead 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push this 0
call SnakeGame.nextCycle 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
return
function Snake.dispose 0
push argument 0
pop pointer 0
push this 8
call Array.dispose 1
pop temp 0
push this 9
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Snake.checkRewriteHistory 0
push argument 0
pop pointer 0
push this 0
call SnakeGame.getCycle 1
push this 10
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Snake.rewriteHistory 1
pop temp 0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Snake.rewriteHistory 3
push argument 0
pop pointer 0
push this 3
pop local 0
push constant 0
pop local 2
push this 10
push this 3
sub
pop local 1
label WHILE_EXP0
push local 0
push constant 0
gt
not
if-goto WHILE_END0
push local 2
push this 8
add
push local 1
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push this 9
add
push local 1
push this 9
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
push local 2
push constant 1
add
pop local 2
push local 0
push constant 1
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Snake.posX 0
push argument 0
pop pointer 0
push this 1
return
function Snake.posY 0
push argument 0
pop pointer 0
push this 2
return
function Snake.getLength 0
push argument 0
pop pointer 0
push this 3
return
function Snake.getDir 0
push argument 0
pop pointer 0
push this 6
return
function Snake.getLastDir 0
push argument 0
pop pointer 0
push this 7
return
function Snake.setDir 0
push argument 0
pop pointer 0
push argument 1
pop this 6
push constant 0
return
function Snake.rememberDir 0
push argument 0
pop pointer 0
push this 6
pop this 7
push constant 0
return
function Snake.tryMove 1
push argument 0
pop pointer 0
push this 0
call SnakeGame.getGrid 1
pop local 0
push this 6
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
goto IF_END1
label IF_FALSE1
push this 2
push constant 1
sub
pop this 2
label IF_END1
label IF_FALSE0
push this 6
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 2
push local 0
call SnakeGrid.sizeY 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
return
goto IF_END3
label IF_FALSE3
push this 2
push constant 1
add
pop this 2
label IF_END3
label IF_FALSE2
push this 6
push constant 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 1
push constant 0
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
return
goto IF_END5
label IF_FALSE5
push this 1
push constant 1
sub
pop this 1
label IF_END5
label IF_FALSE4
push this 6
push constant 4
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 1
push local 0
call SnakeGrid.sizeX 1
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
return
goto IF_END7
label IF_FALSE7
push this 1
push constant 1
add
pop this 1
label IF_END7
label IF_FALSE6
push local 0
push this 1
push this 2
call SnakeGrid.checkOccupied 3
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 0
return
label IF_FALSE8
push constant 0
not
return
function Snake.grow 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
call Snake.drawHead 2
pop temp 0
push this 5
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 5
push constant 1
sub
pop this 5
push this 3
push constant 1
add
pop this 3
goto IF_END0
label IF_FALSE0
push pointer 0
push argument 1
call Snake.clearTail 2
pop temp 0
label IF_END0
push constant 0
return
function Snake.drawHead 1
push argument 0
pop pointer 0
push this 0
call SnakeGame.getGrid 1
pop local 0
push local 0
push this 1
push this 2
call SnakeGrid.drawSnakeBit 3
pop temp 0
push argument 1
push this 8
add
push this 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 1
push this 9
add
push this 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Snake.clearTail 4
push argument 0
pop pointer 0
push argument 1
push this 3
sub
pop local 1
push local 1
push this 8
add
pop pointer 1
push that 0
pop local 2
push local 1
push this 9
add
pop pointer 1
push that 0
pop local 3
push this 0
call SnakeGame.getGrid 1
pop local 0
push local 0
push local 2
push local 3
call SnakeGrid.clearSnakeBit 3
pop temp 0
push constant 0
return
function Snake.eatFood 0
push argument 0
pop pointer 0
push this 5
push this 4
add
pop this 5
push constant 0
return
