function Main.main 1
push constant 8001
push constant 16
push constant 1
neg  
call Main.fillMemory 3
pop temp 0
push constant 8000
call Memory.peek 1
pop local 0
push local 0
call Main.convert 1
pop temp 0
push constant 0
return  
function Main.convert 3
push constant 0
not  
pop local 2
label LABEL_1 
push local 2
not  
if-goto LABEL_0 
push local 1
push constant 1
add  
pop local 1
push local 0
call Main.nextMask 1
pop local 0
push local 1
push constant 16
gt  
not  
not  
if-goto LABEL_2 
push argument 0
push local 0
and  
push constant 0
eq  
not  
not  
if-goto LABEL_4 
push constant 8000
push local 1
add  
push constant 1
call Memory.poke 2
pop temp 0
goto LABEL_5 
label LABEL_4 
push constant 8000
push local 1
add  
push constant 0
call Memory.poke 2
pop temp 0
label LABEL_5 
goto LABEL_3 
label LABEL_2 
push constant 0
pop local 2
label LABEL_3 
goto LABEL_1 
label LABEL_0 
push constant 0
return  
function Main.nextMask 0
push argument 0
push constant 0
eq  
not  
if-goto LABEL_6 
push constant 1
return  
goto LABEL_7 
label LABEL_6 
push argument 0
push constant 2
call Math.multiply 2  
return  
label LABEL_7 
function Main.fillMemory 0
label LABEL_9 
push argument 1
push constant 0
gt  
not  
if-goto LABEL_8 
push argument 0
push argument 2
call Memory.poke 2
pop temp 0
push argument 1
push constant 1
sub  
pop argument 1
push argument 0
push constant 1
add  
pop argument 0
goto LABEL_9 
label LABEL_8 
push constant 0
return  
